@import './variables'
    


.basic-appear
    margin-top: 40px
    opacity: 0.01


.basic-appear.basic-appear-active
    margin-top: 0
    opacity: 1
    transition: 300ms ease-in



.basic-enter
    margin-top: 40px
    opacity: 0.01


.basic-enter.basic-enter-active
    margin-top: 0
    opacity: 1
    transition: 300ms ease-in



.basic-leave
    margin-top: 0
    opacity: 1

.basic-leave.basic-leave-active
    margin-top: 40px
    opacity: 0.01
    transition: 200ms ease-out






.filters-appear
    height: 1px
    opacity: 0.01


.filters-appear.filters-appear-active
    height: $menu-height
    opacity: 1
    transition: 250ms ease-out



.filters-enter
    height: 1px
    opacity: 0.01


.filters-enter.filters-enter-active
    height: $menu-height
    opacity: 1
    transition: 250ms ease-out



.filters-leave
    height: $menu-height
    opacity: 1

.filters-leave.filters-leave-active
    height: 1px
    opacity: 0.01
    transition: 200ms ease-out






.addBtn-appear
    opacity: 0.01


.addBtn-appear.addBtn-appear-active
    opacity: 1
    transition: 250ms linear


.addBtn-enter
    opacity: 0.01


.addBtn-enter.addBtn-enter-active
    opacity: 1
    transition: 250ms linear



.addBtn-leave
    opacity: 1

.addBtn-leave.addBtn-leave-active
    opacity: 0.01
    transition: 200ms linear
