@import './variables'

.calendar-app
    width: $container-width
    margin: 0 auto
    margin-top: $menu-height*2+24
    //background: cadetblue
    background: $main-bg
    min-height: 600px

    .heading
        width: 100%
        height: $menu-height
        margin: 0 0 18px 0
        position: relative
        font-size: $font-middle
        color: $default-color
        background: $main-bg
        /**/
        display: flex
        justify-content: space-between

        .button
            border: 1px solid $border-color
            //background: rgba(0,0,200,.4)
            background: $main-bg
            line-height: $menu-height
            text-align: center
            &:hover
                cursor: pointer

        .left-part
            width: 19.561403509%
            //background: lawngreen
            background: $main-bg
            /**/
            display: flex
            justify-content: space-between

            .filters
                width: 52.01793722%

            
            .today
                width: 40.807174888%  

        .center-part
            width: 23.859649123%
            margin: 0 38.070175439%
            height: $menu-height
            //background: lawngreen
            background: $main-bg
            position: absolute

            .date-slider
                font-size: 0
                width: 100%
                height: 100%
                display: flex
                justify-content: space-between
                align-items: stretch

                .img
                    display: inline-block
                    vertical-align: middle
                    line-height: $menu-height
                    transform: translateY(5px)

                    .arrow
                        &:hover
                            border: solid $hover-lime
                            border-width: 0 2px 2px 0
                            display: inline-block
                            padding: 3px
                            transition: .1s
                            cursor: pointer

                .date
                    display: inline-block
                    font-size: $font-big  
                    font-weight: 600 
                    line-height: $menu-height
                    color: $active-color

                    div
                        display: inline-block
                    
                    .mounth
                        margin-right: 10px

                

        .right-part
            width: 26.228070175%
            //background: lawngreen
            background: $main-bg
            /**/
            display: flex
            align-items: stretch

            .current-step
                width: 50%
                border-right: none

            .publish-date
                width: 50%

    .filter-tools
        width: 100%
        margin-bottom: 20px
        height: $menu-height
        //background: lawngreen
        background: $main-bg
        /**/
        display: flex
        justify-content: space-between
        align-items: stretch

        .div
        
        .filter
            width: 18.684210526%
            //background: rgba(0,0,200,.4)
            background: $main-bg
            border: 1px solid $border-color
            padding: 0 10px 
            position: relative
            padding: 0 16px
            &:hover
                cursor: pointer
            
            &:last-of-type
                width: 19.649122807%

            p
                font-size: $font-middle
                line-height: $menu-height 
                color: $active-color
                display: inline-block

            div.img
                line-height: $menu-height
                position: absolute
                right: 16px
                top: 0
                
                .arrow

        .formats

            .pop-up
                width: 269px
                background: #fff
                z-index: 200
                border: 1px solid $border-color
                opacity: 1
                position: absolute
                top: 52px
                *
                    z-index: 200

                .format
                    height: $menu-height
                    vertical-align: middle


                    .checkbox
                        margin: auto 8px auto 16px
                        width: 22px
                        height: 22px
                        display: inline-block
                        background-image: url(../Assets/default.svg)
                        transform: translateY(5px)

                    .checked
                        background-image: url(../Assets/selected.svg)
                    


                    .format-name
                        display: inline-block
                        line-height: $menu-height


                

    .calendar
        width: $container-width
        //background: fuchsia
        background: $main-bg
        min-height: 800px

        .days
            width: $container-width
            height: $menu-height
            line-height: $menu-height
            border: 1px solid $border-color
            /**/
            display: flex
            justify-content: space-between
            align-items: stretch

            .day
                width: $cell-width
                position: relative
                text-align: center

                div
                    font: 400 14px 'Open Sans'
                    color: #484b58
                    line-height: $menu-height

        .calendar-row
            width: $container-width
            border-bottom: 1px solid $border-color
            border-left: 1px solid $border-color
            border-right: 1px solid $border-color
            /**/
            display: flex
            justify-content: space-between
            align-items: stretch

            .shaded
                background-image: repeating-linear-gradient(-45deg, #ccc 1px, #fff 2px, #fff 5px, #ccc 6px)
                background-color: #fff

            .day-cell
                width: $cell-width
                min-height: 163px
                border-right: 1px solid $border-color
                padding: 8px     
                position: relative


                .head 
                    width: 100%
                    height: 40px
                    padding: 0 8px

                    .add
                        font-size: 0
                        height: 40px
                        &:hover
                            cursor: pointer

                        .img
                            display: inline-block
                            width: 24px
                            height: 24px
                            border-radius: 12px
                            background-image: linear-gradient(309deg, #4cdcc8, #54e5a0)
                            color: #fff
                            font-size: 26px
                            font-weight: 700
                            line-height: 24px
                            text-align: center
                            vertical-align: middle

                        .text
                            display: inline-block
                            vertical-align: middle
                            font-size: $font-middle
                            color: $active-color
                            margin-left: 8px

                    .date
                        font-size: $font-small
                        color: $default-color
                        line-height: $lh-small
                        position: absolute
                        top: 13px
                        right: 16px

                        .text
                            display: inline-block
                            margin-right: 5px

                        .number
                            display: inline-block
                
                .main
                    font-size: 0
                    width: 100%
                    color: $default-color

                    .project
                        padding: 5px  
                        border: 1px solid $border-color
                        margin-bottom: 4px
                        background: $main-bg
                        border-radius: 4px
                        &:hover
                            cursor: pointer

                        .project-head
                            width: 100%
                            font-size: $font-small
                            line-height: 16px

                        .content
                            width: 100%
                            font-size: $font-small
                            line-height: 16px
                            margin-top: 5px

                        .bottom
                            width: 100%
                            margin-top: 8px
                            position: relative
                            display: flex
                            justify-content: space-between
                            align-items: stretch

                            .user
                                height: 26px                            
                                display: inline-block

                                .img
                                    width: 16px
                                    height: 16px
                                    border-radius: 8px
                                    overflow: hidden
                                    position: relative
                                    background: $border-color
                                    display: inline-block
                                    transform: translateY(4px)

                                    img
                                        width: 100%

                                .initials
                                    display: inline-block
                                    font-size: $font-small
                                    line-height: 26px
                                    margin-left: 4px
                                    

                            .status
                                display: inline-block
                                height: 26px
                                margin-right: 0

                                .icon
                                    display: inline-block
                                    line-height: 26px    
                                    vertical-align: middle


                                .status-text
                                    font-size: $font-small
                                    display: inline-block
                                    line-height: 26px    
                                    vertical-align: middle

                    .published
                        border-right: 4px solid #74A3D2

                        .bottom

                            .status
                                
                                .icon
                                    width: 12px
                                    height: 12px
                                    border-radius: 6px
                                    background: #74A3D2 

                    .editing
                        border-right: 4px solid #43B993

                        .bottom

                            .status
                                
                                .icon
                                    width: 12px
                                    height: 12px
                                    border-radius: 6px
                                    background: #43B993 

                    .revision
                        border-right: 4px solid #FCCC5E

                        .bottom

                            .status
                                
                                .icon
                                    width: 12px
                                    height: 12px
                                    border-radius: 6px
                                    background: #FCCC5E
 

                    .approved
                        border-right: 4px solid $active-color

                        .bottom

                            .status
                                
                                .icon
                                    width: 12px
                                    height: 12px
                                    border-radius: 6px
                                    background: $active-color


            .today
                border: 2px solid #74a3d2
                border-right: 2px solid #74a3d2
                z-index: 100

                .head


                    .add

                        .text
                            display: none

                    .date
                        top: 8px
                        right: 8px

                        .text
                            color: $blue-color
                            margin-right: 5px

                        .number
                            width: 24px
                            height: 24px
                            border-radius: 12px
                            background: $blue-color
                            color: #fff
                            font-weight: 400
                            text-align: center
                            line-height: 24px
              
            

