//stuff variables
$menu-height: 48px
$menu-height-fix: 46px
$padding: 10px
$arrow-pad: 22px

//fonts
$font-big: 18px
$font-middle: 15px
$font-small: 12px

//border-colors
$border-color: #E9EFF3 
$border-color-2: #F0F0F0
$hover-lime: #54E5A0


//bg-colors
$main-bg: #FAFCFE

//font-colors
$default-color: #6F6F7A //and disabled
$active-color: #484B58 //and active

//widths
$pop-up-width: 230px
