@import './sass/Header'
@import './sass/SubMenu'
@import './sass/CalendarApp'
@import './sass/animations'
@import './sass/footer'
@import './sass/addables'
@import './sass/popUps'
@import './sass/buttons'


    
*
    margin: 0
    padding: 0
    box-sizing: border-box

body
    //background: #ffbb99
    background: #FAFCFE
    font-family: 'Open Sans'

.none
    display: none

.pop-up
    z-index: 250

    *
        z-index: 250
