.basic-appear {
  margin-top: 40px;
  opacity: 0.01; }

.basic-appear.basic-appear-active {
  margin-top: 0;
  opacity: 1;
  transition: 300ms ease-in; }

.basic-enter {
  margin-top: 40px;
  opacity: 0.01; }

.basic-enter.basic-enter-active {
  margin-top: 0;
  opacity: 1;
  transition: 300ms ease-in; }

.basic-leave {
  margin-top: 0;
  opacity: 1; }

.basic-leave.basic-leave-active {
  margin-top: 40px;
  opacity: 0.01;
  transition: 200ms ease-out; }

.filters-appear {
  height: 1px;
  opacity: 0.01; }

.filters-appear.filters-appear-active {
  height: 48px;
  opacity: 1;
  transition: 250ms ease-out; }

.filters-enter {
  height: 1px;
  opacity: 0.01; }

.filters-enter.filters-enter-active {
  height: 48px;
  opacity: 1;
  transition: 250ms ease-out; }

.filters-leave {
  height: 48px;
  opacity: 1; }

.filters-leave.filters-leave-active {
  height: 1px;
  opacity: 0.01;
  transition: 200ms ease-out; }

.addBtn-appear {
  opacity: 0.01; }

.addBtn-appear.addBtn-appear-active {
  opacity: 1;
  transition: 250ms linear; }

.addBtn-enter {
  opacity: 0.01; }

.addBtn-enter.addBtn-enter-active {
  opacity: 1;
  transition: 250ms linear; }

.addBtn-leave {
  opacity: 1; }

.addBtn-leave.addBtn-leave-active {
  opacity: 0.01;
  transition: 200ms linear; }

.arrow {
  border: solid #484B58;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px; }

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg); }

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg); }

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg); }

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg); }

.header {
  height: 48px;
  line-height: 48px;
  width: 100%;
  background: #FAFCFE;
  position: fixed;
  top: 0;
  border-bottom: 1px solid #E9EFF3;
  z-index: 200;
  display: flex;
  align-items: stretch;
  flex-wrap: nowrap;
  justify-content: space-between; }
  .header * {
    z-index: 250; }
  .header .left-part {
    width: 50%;
    position: relative;
    /**/
    display: flex;
    align-items: stretch; }
    .header .left-part .logo {
      background: #FAFCFE;
      width: 36.94%;
      padding: 0 4.443909774%;
      height: 46px;
      line-height: 46px;
      vertical-align: middle; }
      .header .left-part .logo img {
        width: 100%;
        vertical-align: middle; }
    .header .left-part .Navigation {
      font-family: 'Open Sans';
      background: #FAFCFE;
      position: relative;
      /**/
      flex-grow: 1.706766917;
      /**/
      display: flex;
      align-items: stretch; }
      .header .left-part .Navigation .Nav-button {
        /*height: 100%*/
        font-size: 18px;
        color: #6F6F7A;
        font-weight: 600;
        text-align: center;
        width: 20%; }
        .header .left-part .Navigation .Nav-button:hover {
          color: #484B58;
          cursor: pointer; }
      .header .left-part .Navigation .underline {
        position: absolute;
        width: 16%;
        height: 2px;
        bottom: 0;
        left: calc(20% + 2%);
        background-image: linear-gradient(308.94deg, #4CDCC8 0%, #54E5A0 100%);
        border-radius: 2px; }
  .header .right-part {
    width: 28.61%;
    position: relative;
    /**/
    display: flex;
    align-items: stretch; }
    .header .right-part .Names {
      width: 47.33%;
      color: #484B58;
      padding-left: 8.737846154%;
      position: relative;
      z-index: 15;
      background: #FAFCFE;
      line-height: 48px;
      height: 48px;
      background: #FAFCFE;
      border-left: 1px solid #F0F0F0;
      border-right: 1px solid #F0F0F0;
      border-bottom: 1px solid #E9EFF3; }
      .header .right-part .Names:hover {
        cursor: pointer; }
      .header .right-part .Names p {
        display: inline-block;
        font-size: 15px;
        vertical-align: top;
        margin-right: 7.692307692%;
        z-index: 13;
        background: #FAFCFE;
        height: 46px; }
      .header .right-part .Names div.img {
        display: inline-block;
        line-height: 0;
        vertical-align: 3px;
        z-index: 150;
        background: #FAFCFE; }
      .header .right-part .Names .pop-up {
        position: absolute;
        left: 0;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        top: 48px;
        z-index: -2;
        width: 100%;
        z-index: 250; }
        .header .right-part .Names .pop-up .name {
          padding-left: 18.461538462%;
          font-size: 15px;
          color: #484B58;
          height: 48px;
          background: #FAFCFE;
          border-bottom: 1px solid #E9EFF3;
          z-index: 250; }
          .header .right-part .Names .pop-up .name:hover {
            cursor: pointer; }
    .header .right-part .icon-block {
      background: #FAFCFE;
      padding-left: 7.766990291%;
      position: relative;
      /**/
      flex-grow: 1.107692308; }
      .header .right-part .icon-block .messages {
        width: 24px;
        height: 24px;
        display: inline-block;
        position: relative;
        vertical-align: middle;
        line-height: 24px; }
        .header .right-part .icon-block .messages:hover {
          cursor: pointer; }
        .header .right-part .icon-block .messages img {
          display: inline-block;
          width: 24px;
          height: 24px; }
        .header .right-part .icon-block .messages .message-icon {
          width: 28px;
          height: 20px;
          border-radius: 8px;
          border: 2px solid #fff;
          background: #DC5D5B;
          font-size: 12px;
          position: absolute;
          top: -10px;
          right: -20px;
          text-align: center;
          line-height: 18px;
          color: #fff; }
      .header .right-part .icon-block .about-wrapper {
        line-height: 48px;
        display: inline-block;
        margin-left: 14.814814815%; }
        .header .right-part .icon-block .about-wrapper:hover {
          cursor: pointer; }
        .header .right-part .icon-block .about-wrapper .about {
          width: 24px;
          height: 24px;
          vertical-align: middle;
          line-height: 24px;
          display: inline-block; }
          .header .right-part .icon-block .about-wrapper .about img {
            width: 24px;
            height: 24px; }
          .header .right-part .icon-block .about-wrapper .about .pop-up {
            width: 230px;
            padding: 8px 0;
            position: absolute;
            left: -100px;
            top: 48px;
            z-index: 40;
            background: #FAFCFE;
            box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.15); }
            .header .right-part .icon-block .about-wrapper .about .pop-up .links {
              padding: 0 22px;
              display: flex;
              flex-direction: column;
              align-items: stretch;
              border-bottom: 1px solid #E9EFF3; }
              .header .right-part .icon-block .about-wrapper .about .pop-up .links .link {
                width: 100%;
                height: 48px; }
                .header .right-part .icon-block .about-wrapper .about .pop-up .links .link:hover {
                  cursor: pointer; }
                .header .right-part .icon-block .about-wrapper .about .pop-up .links .link img {
                  display: inline-block;
                  width: 20px;
                  height: 20px;
                  line-height: 20px;
                  vertical-align: middle; }
                .header .right-part .icon-block .about-wrapper .about .pop-up .links .link p {
                  display: inline-block;
                  line-height: 48px;
                  margin-left: 8px;
                  color: #484B58;
                  font-size: 15px; }
            .header .right-part .icon-block .about-wrapper .about .pop-up .manager {
              padding: 10px 22px; }
              .header .right-part .icon-block .about-wrapper .about .pop-up .manager p {
                font-size: 12px;
                color: #484B58; }
              .header .right-part .icon-block .about-wrapper .about .pop-up .manager .wrapper {
                display: inline-block;
                width: 32px;
                height: 32px;
                border-radius: 16px;
                margin-left: 0;
                overflow: hidden; }
                .header .right-part .icon-block .about-wrapper .about .pop-up .manager .wrapper img {
                  width: 32px;
                  height: 32px; }
              .header .right-part .icon-block .about-wrapper .about .pop-up .manager .info {
                display: inline-block;
                margin-left: 8px; }
                .header .right-part .icon-block .about-wrapper .about .pop-up .manager .info p {
                  font-size: 15px;
                  font-weight: 600; }
                  .header .right-part .icon-block .about-wrapper .about .pop-up .manager .info p:last-of-type {
                    font-size: 12px;
                    font-weight: normal; }
      .header .right-part .icon-block .user-wrapper {
        display: inline-block;
        margin-left: 14.814814815%; }
        .header .right-part .icon-block .user-wrapper .user {
          width: 40px;
          height: 40px;
          vertical-align: middle;
          display: inline-block;
          border-radius: 20px;
          overflow: hidden;
          z-index: 10;
          transform: translateY(-2px); }
          .header .right-part .icon-block .user-wrapper .user:hover {
            cursor: pointer; }
          .header .right-part .icon-block .user-wrapper .user img {
            z-index: 9;
            width: 40px;
            height: 61px;
            transform: translateY(-7px); }
        .header .right-part .icon-block .user-wrapper .pop-up {
          width: 230px;
          box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.15);
          position: absolute;
          left: -50px;
          top: 48px;
          background: #FAFCFE; }
          .header .right-part .icon-block .user-wrapper .pop-up .head {
            width: 100%;
            height: 73px;
            border-bottom: 1px solid #E9EFF3;
            padding: 16px 10.434782609%; }
            .header .right-part .icon-block .user-wrapper .pop-up .head .name {
              font-size: 15px;
              font-weight: 600;
              line-height: 22px;
              color: #484B58;
              margin-bottom: 4px; }
              .header .right-part .icon-block .user-wrapper .pop-up .head .name:hover {
                cursor: pointer; }
            .header .right-part .icon-block .user-wrapper .pop-up .head .sub {
              font-size: 12px;
              color: #6F6F7A;
              text-decoration: underline;
              line-height: 16px; }
              .header .right-part .icon-block .user-wrapper .pop-up .head .sub:hover {
                cursor: pointer; }
          .header .right-part .icon-block .user-wrapper .pop-up .links {
            font-size: 0; }
            .header .right-part .icon-block .user-wrapper .pop-up .links .link {
              line-height: 0;
              padding: 12px 10.434782609%;
              height: 48px;
              color: #484B58;
              vertical-align: middle; }
              .header .right-part .icon-block .user-wrapper .pop-up .links .link:hover {
                cursor: pointer; }
              .header .right-part .icon-block .user-wrapper .pop-up .links .link img {
                display: inline-block;
                width: 24px;
                height: 24px;
                line-height: 22px; }
              .header .right-part .icon-block .user-wrapper .pop-up .links .link div {
                display: inline-block;
                line-height: 22px;
                transform: translateY(-5px);
                margin-left: 8px;
                font-size: 15px; }
            .header .right-part .icon-block .user-wrapper .pop-up .links .last {
              border-top: 1px solid #E9EFF3; }

.sub-menu {
  width: 100%;
  border-bottom: 1px solid #E9EFF3;
  position: fixed;
  top: 48px;
  z-index: 160; }
  .sub-menu * {
    z-index: 160; }
  .sub-menu .container {
    width: 1141px;
    height: 48px;
    background: #FAFCFE;
    margin: 0 auto;
    position: relative;
    /**/
    display: flex;
    align-items: stretch; }
    .sub-menu .container .button-2 {
      width: 15%;
      line-height: 48px;
      text-align: center;
      background: #FAFCFE;
      font-size: 15px;
      color: #484B58; }
      .sub-menu .container .button-2:hover {
        cursor: pointer; }
    .sub-menu .container .underline {
      position: absolute;
      width: 15%;
      height: 2px;
      bottom: 0;
      left: calc(0);
      background-image: linear-gradient(308.94deg, #4CDCC8 0%, #54E5A0 100%);
      border-radius: 2px; }

.calendar-app {
  width: 1141px;
  margin: 0 auto;
  margin-top: 120px;
  background: #FAFCFE;
  min-height: 600px; }
  .calendar-app .heading {
    width: 100%;
    height: 48px;
    margin: 0 0 18px 0;
    position: relative;
    font-size: 15px;
    color: #6F6F7A;
    background: #FAFCFE;
    /**/
    display: flex;
    justify-content: space-between; }
    .calendar-app .heading .button {
      border: 1px solid #E9EFF3;
      background: #FAFCFE;
      line-height: 48px;
      text-align: center; }
      .calendar-app .heading .button:hover {
        cursor: pointer; }
    .calendar-app .heading .left-part {
      width: 19.561403509%;
      background: #FAFCFE;
      /**/
      display: flex;
      justify-content: space-between; }
      .calendar-app .heading .left-part .filters {
        width: 52.01793722%; }
      .calendar-app .heading .left-part .today {
        width: 40.807174888%; }
    .calendar-app .heading .center-part {
      width: 23.859649123%;
      margin: 0 38.070175439%;
      height: 48px;
      background: #FAFCFE;
      position: absolute; }
      .calendar-app .heading .center-part .date-slider {
        font-size: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: stretch; }
        .calendar-app .heading .center-part .date-slider .img {
          display: inline-block;
          vertical-align: middle;
          line-height: 48px;
          transform: translateY(5px);
          width: 10px; }
          .calendar-app .heading .center-part .date-slider .img:hover {
            cursor: pointer; }
            .calendar-app .heading .center-part .date-slider .img:hover .arrow {
              border: solid #54E5A0;
              border-width: 0 2px 2px 0;
              display: inline-block;
              padding: 3px;
              transition: .1s; }
        .calendar-app .heading .center-part .date-slider .date {
          display: inline-block;
          font-size: 18px;
          font-weight: 600;
          line-height: 48px;
          color: #484B58; }
          .calendar-app .heading .center-part .date-slider .date div {
            display: inline-block; }
          .calendar-app .heading .center-part .date-slider .date .mounth {
            margin-right: 10px; }
    .calendar-app .heading .right-part {
      width: 26.228070175%;
      background: #FAFCFE;
      /**/
      display: flex;
      align-items: stretch; }
      .calendar-app .heading .right-part .current-step {
        width: 50%;
        border-right: none; }
      .calendar-app .heading .right-part .publish-date {
        width: 50%; }
  .calendar-app .filter-tools {
    width: 100%;
    margin-bottom: 20px;
    height: 48px;
    background: #FAFCFE;
    /**/
    display: flex;
    justify-content: space-between;
    align-items: stretch; }
    .calendar-app .filter-tools .filter {
      width: 18.684210526%;
      background: #FAFCFE;
      border: 1px solid #E9EFF3;
      padding: 0 10px;
      position: relative;
      padding: 0 16px; }
      .calendar-app .filter-tools .filter:hover {
        cursor: pointer; }
      .calendar-app .filter-tools .filter:last-of-type {
        width: 19.649122807%; }
      .calendar-app .filter-tools .filter p {
        font-size: 15px;
        line-height: 48px;
        color: #484B58;
        display: inline-block; }
      .calendar-app .filter-tools .filter div.img {
        line-height: 48px;
        position: absolute;
        right: 16px;
        top: 0; }
    .calendar-app .filter-tools .formats .pop-up {
      width: 269px;
      background: #fff;
      z-index: 200;
      border: 1px solid #E9EFF3;
      opacity: 1;
      position: absolute;
      top: 52px; }
      .calendar-app .filter-tools .formats .pop-up * {
        z-index: 200; }
      .calendar-app .filter-tools .formats .pop-up .format {
        height: 48px;
        vertical-align: middle; }
        .calendar-app .filter-tools .formats .pop-up .format .checkbox {
          margin: auto 8px auto 16px;
          width: 22px;
          height: 22px;
          display: inline-block;
          background-image: url(../Assets/default.svg);
          transform: translateY(5px); }
        .calendar-app .filter-tools .formats .pop-up .format .checked {
          background-image: url(../Assets/selected.svg); }
        .calendar-app .filter-tools .formats .pop-up .format .format-name {
          display: inline-block;
          line-height: 48px; }
  .calendar-app .calendar {
    width: 1141px;
    background: #FAFCFE;
    min-height: 800px; }
    .calendar-app .calendar .days {
      width: 1141px;
      height: 48px;
      line-height: 48px;
      border: 1px solid #E9EFF3;
      /**/
      display: flex;
      justify-content: space-between;
      align-items: stretch; }
      .calendar-app .calendar .days .day {
        width: 163px;
        position: relative;
        text-align: center; }
        .calendar-app .calendar .days .day div {
          font: 400 14px 'Open Sans';
          color: #484b58;
          line-height: 48px; }
    .calendar-app .calendar .calendar-row {
      width: 1141px;
      border-bottom: 1px solid #E9EFF3;
      border-left: 1px solid #E9EFF3;
      border-right: 1px solid #E9EFF3;
      /**/
      display: flex;
      justify-content: space-between;
      align-items: stretch; }
      .calendar-app .calendar .calendar-row .shaded {
        background-image: repeating-linear-gradient(-45deg, #ececec 1px, #fff 2px, #fff 5px, #ececec 6px);
        background-color: #fff; }
      .calendar-app .calendar .calendar-row .day-cell {
        width: 163px;
        min-height: 163px;
        border-right: 1px solid #E9EFF3;
        padding: 8px;
        position: relative; }
        .calendar-app .calendar .calendar-row .day-cell .head {
          width: 100%;
          height: 40px;
          padding: 0 8px; }
          .calendar-app .calendar .calendar-row .day-cell .head .add {
            font-size: 0;
            height: 40px; }
            .calendar-app .calendar .calendar-row .day-cell .head .add:hover {
              cursor: pointer; }
            .calendar-app .calendar .calendar-row .day-cell .head .add .img {
              display: inline-block;
              width: 24px;
              height: 24px;
              border-radius: 12px;
              background-image: linear-gradient(309deg, #4cdcc8, #54e5a0);
              color: #fff;
              font-size: 26px;
              font-weight: 700;
              line-height: 24px;
              text-align: center;
              vertical-align: middle; }
            .calendar-app .calendar .calendar-row .day-cell .head .add .text {
              display: inline-block;
              vertical-align: middle;
              font-size: 15px;
              color: #484B58;
              margin-left: 8px; }
          .calendar-app .calendar .calendar-row .day-cell .head .date {
            font-size: 12px;
            color: #6F6F7A;
            line-height: 16px;
            position: absolute;
            top: 13px;
            right: 16px; }
            .calendar-app .calendar .calendar-row .day-cell .head .date .text {
              display: inline-block;
              margin-right: 5px; }
            .calendar-app .calendar .calendar-row .day-cell .head .date .number {
              display: inline-block; }
        .calendar-app .calendar .calendar-row .day-cell .main {
          font-size: 0;
          width: 100%;
          color: #6F6F7A; }
          .calendar-app .calendar .calendar-row .day-cell .main .project {
            padding: 5px;
            border: 1px solid #E9EFF3;
            margin-bottom: 4px;
            background: #FAFCFE;
            border-radius: 4px; }
            .calendar-app .calendar .calendar-row .day-cell .main .project:hover {
              cursor: pointer; }
            .calendar-app .calendar .calendar-row .day-cell .main .project .project-head {
              width: 100%;
              font-size: 12px;
              line-height: 16px; }
            .calendar-app .calendar .calendar-row .day-cell .main .project .content {
              width: 100%;
              font-size: 12px;
              line-height: 16px;
              margin-top: 5px; }
            .calendar-app .calendar .calendar-row .day-cell .main .project .bottom {
              width: 100%;
              margin-top: 8px;
              position: relative;
              display: flex;
              justify-content: space-between;
              align-items: stretch; }
              .calendar-app .calendar .calendar-row .day-cell .main .project .bottom .user {
                height: 26px;
                display: inline-block; }
                .calendar-app .calendar .calendar-row .day-cell .main .project .bottom .user .img {
                  width: 16px;
                  height: 16px;
                  border-radius: 8px;
                  overflow: hidden;
                  position: relative;
                  background: #E9EFF3;
                  display: inline-block;
                  transform: translateY(4px); }
                  .calendar-app .calendar .calendar-row .day-cell .main .project .bottom .user .img img {
                    width: 100%; }
                .calendar-app .calendar .calendar-row .day-cell .main .project .bottom .user .initials {
                  display: inline-block;
                  font-size: 12px;
                  line-height: 26px;
                  margin-left: 4px; }
              .calendar-app .calendar .calendar-row .day-cell .main .project .bottom .status {
                display: inline-block;
                height: 26px;
                margin-right: 0; }
                .calendar-app .calendar .calendar-row .day-cell .main .project .bottom .status .icon {
                  display: inline-block;
                  line-height: 26px;
                  vertical-align: middle;
                  margin-right: 5px; }
                .calendar-app .calendar .calendar-row .day-cell .main .project .bottom .status .status-text {
                  font-size: 12px;
                  display: inline-block;
                  line-height: 26px;
                  vertical-align: middle; }
          .calendar-app .calendar .calendar-row .day-cell .main .published {
            border-right: 4px solid #74A3D2; }
            .calendar-app .calendar .calendar-row .day-cell .main .published .bottom .status .icon {
              width: 12px;
              height: 12px;
              border-radius: 6px;
              background: #74A3D2; }
          .calendar-app .calendar .calendar-row .day-cell .main .editing {
            border-right: 4px solid #43B993; }
            .calendar-app .calendar .calendar-row .day-cell .main .editing .bottom .status .icon {
              width: 12px;
              height: 12px;
              border-radius: 6px;
              background: #43B993; }
          .calendar-app .calendar .calendar-row .day-cell .main .revision {
            border-right: 4px solid #FCCC5E; }
            .calendar-app .calendar .calendar-row .day-cell .main .revision .bottom .status .icon {
              width: 12px;
              height: 12px;
              border-radius: 6px;
              background: #FCCC5E; }
          .calendar-app .calendar .calendar-row .day-cell .main .approved {
            border-right: 4px solid #484B58; }
            .calendar-app .calendar .calendar-row .day-cell .main .approved .bottom .status .icon {
              width: 12px;
              height: 12px;
              border-radius: 6px;
              background: #484B58; }
          .calendar-app .calendar .calendar-row .day-cell .main .more {
            font-size: 12px;
            text-align: center;
            border-radius: 2px; }
            .calendar-app .calendar .calendar-row .day-cell .main .more:hover {
              background: #eee;
              cursor: pointer; }
      .calendar-app .calendar .calendar-row .today {
        border: 2px solid #74a3d2;
        border-right: 2px solid #74a3d2;
        z-index: 100; }
        .calendar-app .calendar .calendar-row .today .head .add .text {
          display: none; }
        .calendar-app .calendar .calendar-row .today .head .date {
          top: 8px;
          right: 8px; }
          .calendar-app .calendar .calendar-row .today .head .date .text {
            color: #74A3D2;
            margin-right: 5px; }
          .calendar-app .calendar .calendar-row .today .head .date .number {
            width: 24px;
            height: 24px;
            border-radius: 12px;
            background: #74A3D2;
            color: #fff;
            font-weight: 400;
            text-align: center;
            line-height: 24px; }

.basic-appear {
  margin-top: 40px;
  opacity: 0.01; }

.basic-appear.basic-appear-active {
  margin-top: 0;
  opacity: 1;
  transition: 300ms ease-in; }

.basic-enter {
  margin-top: 40px;
  opacity: 0.01; }

.basic-enter.basic-enter-active {
  margin-top: 0;
  opacity: 1;
  transition: 300ms ease-in; }

.basic-leave {
  margin-top: 0;
  opacity: 1; }

.basic-leave.basic-leave-active {
  margin-top: 40px;
  opacity: 0.01;
  transition: 200ms ease-out; }

.filters-appear {
  height: 1px;
  opacity: 0.01; }

.filters-appear.filters-appear-active {
  height: 48px;
  opacity: 1;
  transition: 250ms ease-out; }

.filters-enter {
  height: 1px;
  opacity: 0.01; }

.filters-enter.filters-enter-active {
  height: 48px;
  opacity: 1;
  transition: 250ms ease-out; }

.filters-leave {
  height: 48px;
  opacity: 1; }

.filters-leave.filters-leave-active {
  height: 1px;
  opacity: 0.01;
  transition: 200ms ease-out; }

.addBtn-appear {
  opacity: 0.01; }

.addBtn-appear.addBtn-appear-active {
  opacity: 1;
  transition: 250ms linear; }

.addBtn-enter {
  opacity: 0.01; }

.addBtn-enter.addBtn-enter-active {
  opacity: 1;
  transition: 250ms linear; }

.addBtn-leave {
  opacity: 1; }

.addBtn-leave.addBtn-leave-active {
  opacity: 0.01;
  transition: 200ms linear; }

.footer {
  width: 1141px;
  height: 80px;
  border-top: 1px solid #E9EFF3;
  margin: 0 auto;
  display: flex;
  justify-content: space-between; }
  .footer .prop {
    height: 100%;
    line-height: 80px;
    font-size: 12px;
    color: #6F6F7A; }
  .footer .question {
    height: 100%;
    line-height: 80px;
    font-size: 12px;
    color: #6F6F7A;
    text-decoration: underline; }

.plus-fixed {
  position: fixed;
  bottom: 24px;
  right: 24px;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  font-size: 35px;
  color: #fff;
  font-family: 'Open Sans';
  background: linear-gradient(308.94deg, #4CDCC8 0%, #54E5A0 100%);
  line-height: 58px;
  text-align: center; }
  .plus-fixed:hover {
    cursor: pointer; }

.pop-up-fixed {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(204, 255, 204, 0.5);
  top: 0;
  left: 0;
  z-index: 300; }
  .pop-up-fixed .add-project {
    margin: 30px auto;
    width: 605px;
    background: #fff;
    min-height: 600px;
    max-height: 718px;
    border: 1px solid #E9EFF3;
    padding: 16px 24px;
    position: relative; }
    .pop-up-fixed .add-project .head {
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin-bottom: 16px; }
      .pop-up-fixed .add-project .head .text {
        font-size: 18px;
        font-weight: 600;
        line-height: 26px;
        color: #484B58; }
      .pop-up-fixed .add-project .head .close-x {
        width: 24px;
        height: 24px;
        background-image: url(../../Assets/close.svg);
        fill: #484B58; }
        .pop-up-fixed .add-project .head .close-x:hover {
          cursor: pointer; }
    .pop-up-fixed .add-project form {
      font-size: 0; }
      .pop-up-fixed .add-project form .input {
        width: 100%; }
        .pop-up-fixed .add-project form .input:first-of-type {
          margin-bottom: 24px; }
        .pop-up-fixed .add-project form .input p {
          font-size: 14px;
          color: #6F6F7A;
          line-height: 24px; }
        .pop-up-fixed .add-project form .input input, .pop-up-fixed .add-project form .input textarea {
          width: 100%;
          border: 2px solid #E9EFF3;
          padding: 12px 16px;
          font-size: 15px;
          line-height: 22px;
          color: #484B58;
          margin: 0;
          resize: none; }
          .pop-up-fixed .add-project form .input input:focus, .pop-up-fixed .add-project form .input textarea:focus {
            outline: none;
            border: 2px solid #74a3d2; }
        .pop-up-fixed .add-project form .input .error {
          border: 2px solid #dc5d5b;
          color: #dc5d5b;
          transition: border .5s ease; }
        .pop-up-fixed .add-project form .input .error-message {
          font-size: 12px;
          line-height: 16px;
          color: #dc5d5b; }
      .pop-up-fixed .add-project form .second .input {
        margin-bottom: 0; }
        .pop-up-fixed .add-project form .second .input textarea {
          height: 160px; }
      .pop-up-fixed .add-project form .attach {
        width: 100%;
        height: 60px;
        border: 1px solid #E9EFF3;
        margin-bottom: 24px; }
        .pop-up-fixed .add-project form .attach .img {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          vertical-align: middle;
          margin: 10px 8px;
          display: inline-block;
          overflow: hidden;
          position: relative;
          background: linear-gradient(309deg, #4cdcc8, #54e5a0); }
          .pop-up-fixed .add-project form .attach .img:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background-image: url(../../Assets/attachment@2x.png);
            background-size: 25px 25px;
            background-position: center;
            background-repeat: no-repeat; }
          .pop-up-fixed .add-project form .attach .img:hover {
            cursor: pointer; }
        .pop-up-fixed .add-project form .attach p {
          display: inline-block;
          color: #6F6F7A;
          font-size: 15px;
          vertical-align: middle; }
      .pop-up-fixed .add-project form .settings {
        display: flex;
        justify-content: space-between;
        position: relative; }
        .pop-up-fixed .add-project form .settings .first, .pop-up-fixed .add-project form .settings .second, .pop-up-fixed .add-project form .settings .third {
          position: relative; }
        .pop-up-fixed .add-project form .settings p {
          font-size: 14px;
          line-height: 24px;
          color: #6F6F7A; }
        .pop-up-fixed .add-project form .settings .filter {
          background: #FAFCFE;
          border: 1px solid #E9EFF3;
          position: relative;
          padding: 0 16px;
          z-index: 50; }
          .pop-up-fixed .add-project form .settings .filter p {
            font-size: 15px;
            line-height: 48px;
            color: #484B58;
            display: inline-block; }
          .pop-up-fixed .add-project form .settings .filter div.img {
            line-height: 48px;
            position: absolute;
            right: 16px;
            top: 0; }
          .pop-up-fixed .add-project form .settings .filter:hover {
            cursor: pointer; }
        .pop-up-fixed .add-project form .settings input.number {
          height: 48px;
          width: 100%;
          border: 1px solid #E9EFF3;
          padding: 12px 16px;
          font-size: 15px;
          line-height: 22px;
          color: #6F6F7A; }
          .pop-up-fixed .add-project form .settings input.number:focus {
            outline: none; }
          .pop-up-fixed .add-project form .settings input.number:hover {
            cursor: pointer; }
      .pop-up-fixed .add-project form .too-soon {
        text-align: right; }
        .pop-up-fixed .add-project form .too-soon p {
          display: inline-block;
          font-size: 12px;
          color: #484B58;
          transform: translateY(4px); }
        .pop-up-fixed .add-project form .too-soon .circle-help {
          display: inline-block;
          background: url(../../Assets/circle-help.svg);
          width: 12px;
          height: 12px;
          background-position: center;
          margin-left: 8px;
          vertical-align: middle; }
          .pop-up-fixed .add-project form .too-soon .circle-help:hover {
            cursor: pointer; }
      .pop-up-fixed .add-project form .settings {
        margin-bottom: 24px; }
        .pop-up-fixed .add-project form .settings .first {
          width: 174px; }
        .pop-up-fixed .add-project form .settings .second {
          position: relative;
          width: 105px; }
        .pop-up-fixed .add-project form .settings .third {
          width: 196px; }
      .pop-up-fixed .add-project form .settings.second {
        margin-bottom: 0; }
        .pop-up-fixed .add-project form .settings.second .first {
          width: 174px; }
        .pop-up-fixed .add-project form .settings.second .second {
          width: 168px; }
        .pop-up-fixed .add-project form .settings.second .third {
          width: 133px; }
    .pop-up-fixed .add-project .buttons {
      width: 290px;
      display: flex;
      justify-content: space-between;
      margin-top: 18px; }
      .pop-up-fixed .add-project .buttons .primary-s {
        width: 178px; }
      .pop-up-fixed .add-project .buttons .secondary-s {
        width: 100px; }
        .pop-up-fixed .add-project .buttons .secondary-s p {
          width: 98px; }

.calendar-pop-up {
  position: absolute;
  bottom: 170px;
  right: 24px;
  width: 387px;
  background: #fff;
  box-shadow: 0 30px 70px rgba(159, 177, 188, 0.28);
  z-index: 100;
  padding: 24px 32px 16px 32px; }
  .calendar-pop-up .head {
    display: flex;
    justify-content: space-between;
    color: #484B58; }
    .calendar-pop-up .head .date {
      margin-left: 10px; }
      .calendar-pop-up .head .date .month {
        display: inline-block;
        margin-right: 5px; }
      .calendar-pop-up .head .date .year {
        display: inline-block; }
    .calendar-pop-up .head .switcher {
      margin-right: 10px; }
      .calendar-pop-up .head .switcher .img {
        display: inline-block; }
        .calendar-pop-up .head .switcher .img .arrow {
          border: solid #afaeaf;
          border-width: 0 2px 2px 0; }
        .calendar-pop-up .head .switcher .img:first-of-type {
          margin-right: 20px; }
        .calendar-pop-up .head .switcher .img:hover {
          cursor: pointer; }
          .calendar-pop-up .head .switcher .img:hover .arrow {
            border: solid #54E5A0;
            border-width: 0 2px 2px 0; }
  .calendar-pop-up .calendar-widget {
    width: 100%; }
    .calendar-pop-up .calendar-widget .names {
      width: 100%;
      display: flex;
      justify-content: space-between;
      height: 40px; }
      .calendar-pop-up .calendar-widget .names .day {
        width: 35px;
        height: 35px;
        vertical-align: middle;
        text-align: center;
        line-height: 35px;
        font-size: 14px;
        color: #6F6F7A;
        opacity: .65; }
        .calendar-pop-up .calendar-widget .names .day:hover {
          cursor: pointer; }
    .calendar-pop-up .calendar-widget .week {
      width: 100%;
      display: flex;
      justify-content: space-between;
      height: 40px; }
      .calendar-pop-up .calendar-widget .week .day {
        width: 35px;
        height: 35px;
        vertical-align: middle;
        text-align: center;
        line-height: 35px;
        font-size: 12px;
        color: #484B58; }
        .calendar-pop-up .calendar-widget .week .day:hover {
          cursor: pointer; }
        .calendar-pop-up .calendar-widget .week .day .selected {
          width: 35px;
          height: 35px;
          border-radius: 50%;
          background: #74A3D2;
          color: #fff; }
      .calendar-pop-up .calendar-widget .week .not-actual {
        color: #6F6F7A;
        opacity: .4; }

.primary-s {
  display: inline-block;
  width: 140px;
  height: 40px;
  background-image: linear-gradient(282deg, #4cdcc8, #54e5a0);
  color: #fff;
  text-align: center;
  line-height: 40px;
  border-radius: 20px;
  font-size: 18px;
  font-weight: 600; }
  .primary-s:hover {
    background-image: linear-gradient(282deg, #4cdcc8, #54e5a0);
    cursor: pointer; }

.secondary-s {
  background-image: linear-gradient(288deg, #4cdcc8, #54e5a0);
  border-radius: 20px;
  color: #43b993;
  display: block;
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 600;
  height: 40px;
  margin: 0 auto;
  padding: 3px;
  position: relative;
  width: 140px;
  z-index: 2; }
  .secondary-s:hover {
    background-image: linear-gradient(282deg, #4cdcc8, #54e5a0);
    cursor: pointer; }
  .secondary-s span {
    align-items: center;
    background: #fff;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    height: 100%;
    transition: background .5s ease;
    width: 100%; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background: #FAFCFE;
  font-family: 'Open Sans'; }

.none {
  display: none; }

.pop-up {
  z-index: 250; }
  .pop-up * {
    z-index: 250; }
